# Lixo de compilação do Maven
target/
*.class

# Arquivos de configuração do VS Code e Eclipse (não queremos forçar a IDE nos outros)
.vscode/
.settings/
.classpath
.project
.factorypath

# Banco de dados SQLite (Não versione o binário, versionamos apenas o script de criação!)
*.db
*.sqlite

# Logs e arquivos temporários
*.log
.DS_Store
